.Service {
  display: block;
  text-align: center;
  height: 600px;

  > h1 {
    font-size: 40px;
    letter-spacing: 10px;
  }

  .ServiceBox {
    display: block;

    > div {
      display: inline-block;
      margin: 10px 5px;
      background-color: #d5dce3;
      width: 200px;
      height: 200px;
    }

    .ServiceBox-select {
      font-size: 18px;
      > span {
        display: inline-block;
        width: 100%;
        background-color: #5c6378;
        color: white;
      }

      &:hover {
        width: 60%;
        background-color: #edf2f4;
      }
    }
  }

  .ServiceResult {
    height: 300px;
  }
}
